/* You can add custom styles here. */

// @import "plugins/numbered";
figure {text-align: center;}

hr:last-of-type {
    display: none;
}

.markdown h2{
    line-height: 1.5;
}

@media print {
    #mainpage{
        padding-top: 15px !important;
    }
    h1 { 
      page-break-before: always;
    }
    h4 a {
        color: black;
    }
    .nobreak{
        page-break-before: avoid !important;
    }

    #webheader{
        display: none;
    }

    #printheader{
        display: inline !important;
    }

    .book-toc{
        display: none;
    }

    .book-header{
        display: none;
    }
}

#printheader{
    display: none;
    text-align: center;
}