<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default " ltr" .Site.Language.LanguageDirection }}">

<head>
    {{ partial "docs/html-head" . }}
    {{ partial "docs/inject/head" . }}
</head>

<body dir="{{ default " ltr" .Site.Language.LanguageDirection }}">
    <main class="container flex">
        <div class="book-page">
            <img src="images/heia.svg" width="66%" style="padding-bottom: 100px">
            <center>
                <h1 class="nobreak">Projet de semestre 6 - 2022/2023</h1>
                <br>
                <h2>Informatique et systèmes de communication</h2>
                <br>
                <img src="images/isc-pic.jpg" width="50%">
            </center>
            <img src="images/hesso.jpg" width="30%" style="padding-top: 250px">
            <h1>Liste des projets</h1>
            {{range .Site.RegularPages}}
            <h4><a href="#{{md5 .Title}}">{{.Title}}</a></h4>
            {{end}}
            {{range .Site.RegularPages}}
            <article class="markdown">
                <h1 id="{{md5 .Title}}">{{.Title}}</h1>
                {{- .Content -}}
                {{ partial "docs/inject/content-after.html" . }}
            </article>
            {{end}}
        </div>
    </main>
</body>

</html>